@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* { 
    padding: 0;
    box-sizing: border-box;
}
:root { 
    --big-shoulders-font: 'Big Shoulders Display', cursive;
    --lexend-deca-font: 'Lexend Deca', sans-serif;
}

body {
    background-color: #f2f2f2;
}
main { 
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
    font-family: var(--lexend-deca-font);
}

.container { 
    max-width: 960px;
    margin: 0 auto;
}

.contents { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    margin: 2rem;
}

.sedan {
    background-color: #e28525;
}
.suvs { 
    background-color: #016972;
}
.luxury {
    background-color: #00403f;
}
.sedan a {
    color: #e28525;
}
.suvs a { 
    color: #016972;
}
.luxury a {
    color: #00403f;
}

.content { 
    padding: 40px;
}
.content h2 {
    font-family: var(--big-shoulders-font);
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}
.content p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}
.content a {
    text-decoration: none;
    display: inline-block;
    margin-top: 60px;
    background-color: hsl(0, 0%, 95%);
    padding: 11px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 95%);
}
.content a:hover {
    color: hsl(0, 0%, 95%);
    background-color: transparent;
}

.attribution { 
    text-align: center;
    font-size: 15px;
    /* color: hsla(0, 0%, 0%, 0.5); */
    margin-top: -72px;
}

@media screen and (max-width: 769px) {
    .contents { 
        grid-template-columns: 1fr;
    }
    .attribution {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .contents { 
        margin: .5rem;
    }
}